.row1 {
    display: flex;
  }
  .row2 {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }

  .darkened-image {
    filter: brightness(50%);
  }

  :root{
    --navbar-color: #dbc8b4;
  }

  .is-primary{
    background-color: var(--navbar-color);
  }

  .header-color {
    background-color: #dbc8b4;
  }
