.row1 {
    display: flex;
  }
  .row2 {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }

  .darkened-image {
    filter: brightness(50%);
  }

  .header-color {
    background-color: #e6e0d6;
  }
